* {
    margin: 0;
    padding: 0;
}

header::before {
    display: flex;
    content: "";
    background: url(img/gym.jpg) no-repeat center center/cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.navigation {
    display: flex;
    list-style: none;
    width: 26rem;
    margin: auto;
    padding: 2rem;
}

li a {
    margin: 1rem;
    padding: .5rem;
    text-decoration: none;
    color: white;
    border: 2px solid black;
    border-radius: 20px;
}

a:hover {
    font-size: 20px;
    background-color: rgb(68, 213, 232);
}
a:active{ 
color: black;
}

.mainbox {
    text-align: center;
    margin: auto;
    width: 100%;
}

h3 {
    color: white;
    padding: 1.5rem;
    font-size: 2.5rem;
}

p {
    color: white;
    font-size: 1.5rem;
}

.searchbar {
    width: 95%;
    margin: auto;
    text-align: center;
    padding: 1.5rem;
}

.searchbar input {
    font-size: 1.5rem;
    border: 2px solid black;
    outline: none;
    border-radius: 7px;
}

.searchbar i {
    color: white;
    text-align: center;
    cursor: pointer;
}
.searchbar i:active {
    color: rgb(68, 213, 232);
}
.cantant{
    margin-top: 13rem;
    background-color: rgb(43, 39, 39);
    display: flex;   
    width: 100%;
    flex-wrap: wrap;
}
.box{
    
    border: 2px solid white;
    margin: 10px;
    padding: 3px;
    width: 300px;
    height: 420px;
}
#box-1{
    
padding: .5rem;
text-align: center;
margin: 3rem;
}
#box-2{
    
padding: .5rem;
text-align: center;
margin: 3rem;
}
#box-3{
    
padding: .5rem;
text-align: center;
margin: 3rem;
}
#box-4{
    
padding: .5rem;
text-align: center;
margin: 3rem;
}
#box-5{
    
padding: .5rem;
text-align: center;
margin: 3rem;
}
#box-6{
    
padding: .5rem;
text-align: center;
margin: 3rem;
}
#box-7{
    
padding: .5rem;
text-align: center;
margin: 3rem;
}
.box h3{
    padding: 0.2rem;
}
.vid{
    width: 19rem;
}
#box-4 .vid{
    height: 9rem;
}
#box-5 .vid{
    height: 9rem;
}
#box-6 .vid{
    height: 9rem;
}